<!DOCTYPE html> 
<html> 
<html> 
	<head> 
	<title>TodoApp</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="{{STATIC_URL}}jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="{{STATIC_URL}}jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}jquery.mobile-1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">
	
		<div data-role="header" data-theme="d">
			<h1>Editar Todo</h1>
		</div>

		<div data-role="content" data-theme="c">
            <label for="name">Task:</label>
            <input type="text" id="name" value="{{task.name}}"/>
		</div>
	</div>


</body>
</html>
